body {
  font-family: Helvetica;
  background: rgb(244, 248, 249);
}

#tweet {
  background: rgb(255,255,255);
  border: 2px solid rgb(225, 232, 237);
  border-radius: 5px;
  width: 706px;
  height: 225px;
  padding: 35px;
}

#profile-picture {
  position: relative;
}

#account-logo {
  padding-top: 5px;
  padding-left: 25px;
  position: relative;
  top: -35px;
}

#user-name {
  color: rgb(0, 0, 0);
  font-size: 32px;
  position: relative;
  left: 122px;
  top: -100px;
}

#validated-account {
  position: relative;
  left: 193px;
  top: -170px;
}

#follow-button {
  position: relative;
  font-size: 23px;
  left: 542px;
  top: -400px;
  background: white;
  border-style: solid;
  border-color: rgb(85, 172, 238);
  border-width: 2px;
  border-radius: 5px;
  color: rgb(85, 172, 238);
  width: 160px;
  height: 55px;
  text-align: right;
  padding: 5px 25px 5px 22px;
}

#twitter-logo {
  float: left;
}

#user-account {
  color: rgb(104, 109, 129);
  font-size: 23px;
  position: relative;
  top: -190px;
  left: 95px;
}

#message {
  color: rgb(0, 0, 0);
  font-size: 27px;
  position: relative;
  top: -180px;
}

#date {
  color: rgb(101, 116, 127);
  font-size: 23px;
  position: relative;
  top: -197px;
}

#bottom-text {
  position: relative;
  top: -250px;
}

#retweet {
  position: relative;
  left: 25px;
}

#number-of-retweets {
  position: relative;
  color: rgb(105, 120, 130);
  font-size: 25px;
  left: 106px;
  top: -54px;
}

#favorite {
  position: relative;
  left: 215px;
  top: -107px;  
}

#number-of-favorites {
  font-size: 25px;
  color: rgb(105, 120, 130);
  position: relative;
  left: 249px;
  top: -162px;
}
